AUTH_COOKIE_NAME="vpn_shop_auth"
AUTH_JWT_SECRET="change-me-super-secret-key"
AUTH_JWT_EXPIRES_IN="30d"
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/vpn_shop?schema=public"
APP_DATA_ENCRYPTION_KEY="change-me-32-plus-chars"
ADMIN_DEFAULT_LOGIN="admin"

THREE_X_UI_PROTOCOL="https"
THREE_X_UI_HOST="89.125.54.155"
THREE_X_UI_PORT="20262"
THREE_X_UI_WEB_BASE_PATH="/r6MpYwYdkrIngyJO4V"
THREE_X_UI_USERNAME="k6RcFVCa7Z"
THREE_X_UI_PASSWORD="SQtzzZwTRl"
THREE_X_UI_TWO_FACTOR_CODE=""
THREE_X_UI_INCLUDE_EMPTY_TWO_FACTOR=false
THREE_X_UI_ALLOW_INSECURE_TLS=true
THREE_X_UI_TIMEOUT_MS=10000
THREE_X_UI_CLIENT_PUBLIC_HOST="89.125.54.155"
THREE_X_UI_FREE_PLAN_INBOUND_ID=2
THREE_X_UI_FREE_PLAN_TRAFFIC_GB=10
THREE_X_UI_FREE_PLAN_DURATION_DAYS=30
THREE_X_UI_EXTENDED_PLAN_INBOUND_ID=1
THREE_X_UI_EXTENDED_PLAN_DURATION_DAYS=30
THREE_X_UI_EXTENDED_PLAN_PRICE_RUB=250
THREE_X_UI_EXTENDED_PLAN_SPEED_MBIT=40
THREE_X_UI_CUSTOM_PLAN_INBOUND_ID=5
THREE_X_UI_CUSTOM_PLAN_MIN_TRAFFIC_GB=10
THREE_X_UI_CUSTOM_PLAN_MAX_TRAFFIC_GB=200
THREE_X_UI_CUSTOM_PLAN_PRICE_PER_GB_RUB=15
